<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=ltpol271\SQLEXPRESS;Initial Catalog=Chat;User ID=sa;Password=StandardE80;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBehavior">
					<serviceMetadata httpGetEnabled="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service behaviorConfiguration="mexBehavior"
                     name="HelloService.HelloService">
				<endpoint address="ChatService" binding="netTcpBinding"
                    contract="ChatService.IService" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8080" />
						<add baseAddress="net.tcp://localhost:8090" />
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
</configuration>